@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Asap:ital,wght@0,100..900;1,100..900&family=Gugi&family=M+PLUS+Rounded+1c&display=swap&family=Lacquer&display=swap');


html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20;
    background: url(IMG/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #000000;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%; /* Espaciado adaptable */
    background-color: #000000;
    position: sticky;
    top: 0;
    z-index: 2;
}

.elegido {
    color: #8f28a3;
    font-weight: bold;
    font-family: "Poppins";
    border-bottom: 1px solid #b72cd3;
    border-radius: 10px;
}

header div .logo-text{
    font-family: "M PLUS Rounded 1c";
    letter-spacing: 5px;
}

.logo-img {
    width: 50px;
    height: 50px;
    padding-top: 13px;
    padding-right: 5px;
}

#logo {
    font-size: 24px;
    font-weight: bold;
    color: #9b59b6;
    display: flex;
}

#logo span {
    color: #e84393;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    font-family: "Poppins";
}

header nav ul li {
    transition: ease 0.3s all;
}

header nav ul li:hover {
    transform: scale(1.1);
    text-shadow: 0 0 10px white;
    font-weight: bold;
}

header .btn-order {
    background-color: #8e25b8;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-style: italic;
    transition: all 0.5s ease;
}

header .btn-order:hover {
    background-color: #ffffff;
    color: rgb(107, 6, 128);
}

/* Tabla */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid rgb(107, 55, 7);
    background: url(IMG/bg-p.jpg);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

h1 {
    text-align: center;
    color: #ff006a;
    font-family: "Cabin Sketch";
    font-size: 50px;
    margin: 15px;
}

hr {
    width: 40%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #2a2a2a;
    border-radius: 16px;
    overflow: hidden;
}

table th, table td {
    border: 1px solid #3d3d3d;
    text-align: center;
    padding: 12px;
    color: #ffffff;
}

table th {
    background-color: #444444;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #333333;
}

table tr:hover {
    background-color: #555555;
    transition: background-color 0.3s ease;
}

table td:first-child {
    font-weight: bold;
}

.note {
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
    color: #ff0000;
    font-style: italic;
    font-weight: bold;
    font-family: "Cabin Sketch";
}

/* Footer */
footer {
    background-color: #1f1f1f;
    text-align: center;
    padding: 20px 5%;
    color: white;
}
.social-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.social-icons img {
    width: 42px;
    height: 42px;
    padding: 0px 10px;
    transition: all 0.3s ease;
}
.social-icons img:hover {
    transform: scale(1.2);
}